html,body,h1,h2,h3,h4,h5 { 
    font-family: "Open Sans", sans-serif; 
    font-size: 1 rem; 
    color:#574545 
}

p {
    text-align: center;
}

.container { border: 1px solid black; border-radius: 5px; box-sizing: border-box; margin: auto; padding: 20px; width: 50%;}
.left { float: left; width: 47%; }
.right { float: right; width: 47% }
.border { border: 1px solid black; padding: 15px }